.wrapper {
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .timeWrapper {
    position: relative;
    height: 280px;

    .time,
    .circle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
