.circle,
.progress {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 10px;
  fill: none;
  transition: stroke-dashoffset .1s linear;
  transform: rotate(-90deg);
  transform-origin: center;
}

.progress {
  stroke: var(--ion-color-primary);
}


.circle {
  stroke: var(--ion-color-secondary);
}
